* {
  font-family: sans-serif;
}

main {
  padding: 0 20%;
}

#mini-projects, #main-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  align-items: center;
  justify-content: center;
}