* {
  font-family: sans-serif;
}

main {
  padding: 0 25%;
}

#mini-projects, #main-projects {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}