* {
  font-family: sans-serif;
}

main {
  padding: 0 20%;
}

#mini-projects, #main-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  border: 1px solid red;
}

#mini-projects button, #main-projects button {
  padding: 20px;
  background-color: lightblue;
  border: 1px solid #333;
}

#mini-projects button>a, #main-projects button>a
{
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}